/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 992px) {
	.nav {
		justify-content: space-around;
	}
}

@media only screen and (max-width : 768px) {

	.sea {
		display: none;
	}

	.nav {
		justify-content: space-between;
	}

	.login{
		display: block;
		margin-top: 50px;
	}

	.form-group .form-control{
		width: 100%;
	}
}

@media only screen and (max-width : 480px) {

	.login{
		display: block;
		margin-top: 50px;
	}

	.form-group .form-control{
		width: 100%;
	}

	.nav {
		flex-wrap: nowrap;
	}

	.nav-item--multy{
	list-style-type: none;
	}

	.nav-link{
		font-size: 20px;
	}
}
