/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

.wrapper{
  width: 100%;
  padding: 14px 15px
}
  

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
.box{
  margin-bottom: 20px;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
.info-video{
	width: 100%;
	margin-right: 0;
	height: auto;
	margin-top: 20px;
}

.info-video__title, .info-video__text, .info-video__button{
	text-align: center;
}

.videorolik, .numeral__n{
	margin-top: 20px;
}

.numeral__text{
	margin-bottom: 20px;
}

.project__menu li{
	margin-left: 15px;
}

.content__flexbox{
	flex-wrap: wrap;
	justify-content: center;
}

.square{
	margin-bottom: 20px;
	margin-right: 0;
}

.social{
	text-align: right;
}

.property__topic tr, td, .property__topic th{
	display: block;
	font-size: 18px;
	text-align: center;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

.menu .btn-mobile{
 	display: block;
    font-size: 30px;
    color: #202020;
    border: none;
    background: none;
    outline: none;
    margin-left: auto;
}

.menu .btn-mobile:hover + ul{
	display: block;
}

.header .menu ul{
	display: none;
}
 
.info__title, .info__subtitle{
	color: white;
}

.col{
	display: flex;
	flex-direction: column;
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}